%h1= Organization.model_name.human(count: 2)

%table.table.table-striped
  %thead
    %tr
      %th Logo
      %th Name
      %th= Organization.human_attribute_name(:articles)
      %th= Organization.human_attribute_name(:payments)
      %th= Organization.human_attribute_name(:users)
  %tbody
    - @organizations.each do |organization|
      %tr
        %td= image_tag organization.logo, style: 'height: 3em;'
        %td
          = link_to organization.name, organization
        %td= organization.articles.count
        %td= organization.payments.count
        %td= organization.users.count
        %td
          = link_to edit_organization_path(organization) do
            %i.bi-pencil-square
          = link_to organization, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.bi-trash
%br
= link_to 'New Organization', new_organization_path
