%p#notice= notice
.row
  .col-md-2
    %p
      %b= User.model_name.human(count: 2)
      %i.bi-person-badge
    %table.table.table-striped
      %thead
        %tr
          %th= User.human_attribute_name(:name)
          %th
      %tbody
        - @organization.users.each do |user|
          %tr
            %td= link_to user.name, user
            %td
              = link_to edit_organization_user_path(@organization, user) do
                %i.bi-pencil-square
  .col-md-4
    %p
      %b= Article.model_name.human(count: 2)
      %i.bi-gift
    %table.table.table-striped
      %thead
        %tr
          %th= Article.human_attribute_name(:name)
          %th
            %i.bi-cash-stack
          %th
      %tbody
        - @organization.articles.each do |article|
          %tr
            %td= link_to article.name, article
            %td= article.payments.count
            %td
              = link_to edit_organization_article_path(@organization, article) do
                %i.bi-pencil-square
  .col-md-6
    %p
      %b
        = Payment.model_name.human(count: 2)
        %i.bi-cash-stack
    %payments_chart= line_chart Payment.group_by_day(:succeeded_at).count, height: '60'
    :javascript
      (function() {
        $.ajax({
          url: '#{table_columns_organization_payments_path(@organization)}'
        }).done(function(json) {
          return $('#payments-table').bootstrapTable({
            columns: json,
            url: '#{organization_payments_path(@organization)}',
            search: true
          });
        });
      }).call(this);
    %table#payments-table
= link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
